@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}


.header{
    display: flex;
    justify-content: center;
    margin: 2%;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
    border: 1px solid #c7c7c7;
}

.nav-bar a{
    margin: 0px 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    color: black;

}

.nav-bar a:hover{
  color: #33659f;
  cursor: pointer;
}

.nav-bar button{
    padding: 10px 15px;
    color: white;
    background-color: rgb(194, 72, 72);
    border: none;
    border-radius: 5px;
    margin-left: 15px;
}

.nav-bar button:hover{
  background-color: black;
}





.navsearch{
  display: flex;
  align-items: center;
}

.navsearch i:hover{
  cursor: pointer;
}

.main-head{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 6% 5%;
}

.heroimg{
    display: flex; 
    justify-content: right;
    height: 600px;
    grid-gap: 15px;
}

.main-h3{
    font-size: 1rem;
}

.main-h1{
    font-size: 68px;
    font-weight: 700;
    line-height: 70px;
    margin: 15px 0px;
    
}

.main-head button{
    padding: 10px 30px;
    color: white;
    background-color: #5390D9;
    border: none;
    border-radius: 5px;
    margin-top: 5%;
}


.sub-main{
    height: 30vh;
    background-color: #EEF4FB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe{
    background-color: #F7F9FB;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 150px;   
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    box-shadow:  -1px 2px 7px 6px rgba(0,0,0,0.46);
    
}


.for-input input{
    padding: 10px 5px;
    width: 60%;
    max-width: 50vh;
}

.for-input input:focus{
  color: #5390D9;
  border: 1px solid yellow;
}

.for-input button{
    padding: 12px 30px;
    color: white;
    background-color: #5390D9;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
}

.for-input{
  display: flex;
  align-items: center;
}


.shortadd{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.pop-main{
  height: 80vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}


.grid-pop{
  background-image: url(WebImg/photography-category.jpg);
  background-position: center;
  border-radius: 10px;
  height: 350px;
  width: 300px;
}

.podcast-head{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 10%;
  margin-bottom: 3%;

}

.podcast-index{
  height: 80vh;
}


.podcast-section-index{
  padding:  1% 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

/*

DESIGN/DIGITAL/FLIM//PHOTOGRAPHY/ADVERTISING

 PAGE CSS STARTS HERE

*/
.design{
  background-color: #F7F9FB;
  
}

.about-design{
  padding: 5% 15%;
}

.abt-design h3{
  font-size: 40px;
}

.abt-design h4{
  font-size: 30px;
}

.abt-design p{
  margin: 10px 0px;
}

.abt-design hr{
  margin: 50px 0px;
  width: 100%;
  
}

.for-logo i{

margin: 15px;
 font-size: 20px;
}

.for-logo i:hover{
  color: #5390D9;
  cursor: pointer;
}

.ending{
  height: 32vh;
  padding: 5%;
  display: flex;
  flex-flow: column;
  align-items: center;
 
  
}

.ending h3{
  margin: 3%;
}

.blue-btn{
  padding: 12px 30px;
  color: white;
  background-color: #5390D9;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
}


.blue-btn:hover{
  background-color: #33659f;
  cursor: pointer;
}
.ending input{
  padding: 10px 5px;
  min-width: 40vh;
}

.ending hr{
  width: 110%;
  margin: 3%;
}

/*

PODCAST PAGE CSS STARTS HERE

*/

.podcast{
  height: 180vh;
}

.podcast-section{
 
  margin:  0% 3%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
 
}

.podcast-padding{
  margin: 3%;

  
}

.podcast-section hr{
  margin: 2% 1%;
}

.podcast-section h3{
  color: #5390D9;
  margin: 5%;
}
.podcast-1{
  padding: 5%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

.podcast-1 h3{
  font-size: 55px;
}

.podcast-1 p{
  margin: 2%;
  font-size: 15px;
  text-align: center;
}

.podcast-2{
  display: flex;
  justify-content: space-between;
}

.podcast-2 i{
  font-size: 15px;
  color: white;
  background-color: #5390D9;
  padding: 20px;
  border-radius: 100%;
}
.podcast-2 a,i{
  margin: 3%;
}

.podcast-3{
  display: flex;
  flex-flow: column;
  margin: 3%;

}

.podcast-3 p{
  margin: 3% 0%;
  font-size: 20px;
}

/*

ABOUT PAGE CSS STARTS HERE

*/

.for-about-us{
background-color: #F7F9FB;
}


.aboutus-1{
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.aboutus-1 h2{
  font-size: 50px;
}

.aboutus-1 h2,p{
  margin: 15px 0px;
}

.aboutus-1 p{
  line-height: 30px;
}

.aboutus-2{
  padding: 5%;
}

.aboutus-2 p{
  line-height: 30px;
}



.aboutus-2 h2{
  font-size: 50px;
}


.aboutus-3{
  display: flex;
  flex-flow: column;
 justify-content: center;
  text-align: center;
  margin: 5%;
  
}

.aboutus-3 h3{
  font-size: xx-large;

}

.aboutus-4{
  margin: 5%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.aboutus-4 h3{
  font-size: 30px;
}

.aboutus-4 p{
  font-size: 14px;
  line-height: 10px;
}

.aboutus-5 {
  margin: 5%;
display: flex;
flex-flow: column;
align-items: center;
text-align: center;
}

.aboutus-5 h3{
  font-size: 50px;
}



/*

CONTACT PAGE CSS STARTS HERE

*/

.contact-1{
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.contact-1 h3{
  font-size: 50px;
  margin-top: 5%;
}

.contact-2{
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.contact-2 h3{
  font-size: 30px;
  margin-bottom: 10px
}

.contact-2 a{
  margin: 3px 15px;
  font-size: 15px;
}

.contact-3{
  margin-left: 15px;
  display: flex;
  flex-flow: column;
}

.contact-3 hr{
  margin: 10px 2px;
  color: #538fd95d;
}


.contact-3 a:hover{
  color: #5390D9;
  cursor: pointer;
}

.contact-3 input,textarea{
  margin-bottom: 15px;
  padding: 10px;
  background-color: #c7c7c729;
  border: 1px solid #538fd933;
}

.contact-3 button{
  width: 30%;
}

.contact-4{
  display: flex;
  justify-content: center;
  font-size: 30px;
  margin-top: 80px;
  margin-bottom: 1%;
}

.contact-5{
 margin: 5%; 
 margin-bottom: 10%;
 display: flex;
 justify-content: space-between;
 text-align: center
}

.contact-5 h4{
  font-size: 30px;
}

.contact-5 p{
  font-size: 15px;
}

.contact-5 a{
  color: black;
}



@media screen and (max-width: 1080px) {
  .heroimg{
    height: 500px;
    
  }

  .main-h1{
    font-size: 60px;
    
    
}

.abt-design img{
  height: 450px;
}



}


@media screen and (max-width: 900px) {
  
    .heroimg{
      height: 400px;
      
    }
  
    .main-h1{
      font-size: 55px;
      
      
  }

  .nav-bar button{
    display: none;
  }

.subscribe{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 10px; 
  width: 90%;
}

.abt-design img{
  height: 400px;
}


.podcast{
  height: 550vh;
 
 
}
.podcast-section{
  display: grid;
  grid-template-columns: 1fr 1fr;

 
}

.aboutus-1{
  display: flex;
  flex-flow: column;
}

.aboutus-1 img{
  height: 300px;
}

.contact-1 h3{
 font-size: 40px;
}

.contact-1 p{
  font-size: 15px;
}

.contact-3 h3{
  font-size: 20px;
}

.contact-3 a{
  font-size: small;
  margin-right: 50px;
}

.contact-4 h3{
  font-size: 30px;
}

.contact-5 h4{
  font-size: 20px;
}

.contact-5 p,a{
  font-size: small;
}

.contact-4 h3{
  font-size: 20px;
}

.contact-5 h4{
  font-size: 15px;
}

.contact-5 p,a{
  font-size: 12px;
}
  }


  @media screen and (max-width: 800px) {
    .heroimg{
      height: 350px;
      
    }
  
    .main-h1{
      font-size: 50px;
      
      
  }

  .nav-bar{
    display: none;
  }
  
  .abt-design img{
    height: 350px;
  }

  .podcast{
    height: 350vh;
   
   
  }

  .contact-2{
    display: flex;
    flex-flow: column-reverse;
  }

  .contact-3{
    display: flex;
    margin-top: 30px;
  }
 
  }


  @media screen and (max-width: 700px) {

    .main-head{
        display: grid;
        grid-template-columns:  1fr;
       
        
    }



    .heroimg{
      height: 600px;
      justify-content: center;
      margin-top: 20px;
      
    }
  
    .main-h1{
      font-size: 50px;
      
      
  }

  .abt-design img{
    height: 300px;
  }



  .podcast{
    height: 520vh;
   
   
  }

  .podcast-section{
    display: grid;
    grid-template-columns:  1fr;
  
   
  }

  .podcast-1 h3{
    font-size: 45px;
  }
  
  .podcast-1 p{
    margin: 1%;
    font-size: 12px;
   
  }

  .aboutus-4{
    display: grid;
    grid-template-columns: 1fr ;
    margin: 5%;
  }

  .contact-5{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
  }

  .contact-5 h4{
    margin-top: 50px;
  }
}

  @media screen and (max-width: 600px) {

    .heroimg{
      height: 500px;
      justify-content: center;
      margin-top: 20px;
      
    }
  
    .main-h1{
      font-size: 40px;
      
      
  }

  .abt-design img{
    height: 250px;
  }
  
  .abt-design h3,h4{
    font-size: 30px;
  }
  .podcast-1 h3{
    font-size: 35px;
  }

  .aboutus-1 h2{
    font-size: 40px;
  }

  .aboutus-5 h3{
    font-size: 30px;
  }

  .aboutus-5 p{
    font-size: small;
  }
  }

  @media screen and (max-width: 500px) {

    .heroimg{
      height: 400px;
      justify-content: center;
      margin-top: 20px;
      
    }
  
    .main-h1{
      font-size: 35px;
      
      
  }

  .for-input button{
    padding: 12px 15px;
  }

  .abt-design img{
    height: 220px;
  }

  .podcast{
    height: 500vh;
   
   
  }

  .abt-design h3,h4{
    font-size: 25px;
  }
  .aboutus-1 h2{
    font-size: 25px;
  }

  .aboutus-1 h3{
    font-size: 20px;
  }
  
  .aboutus-5 button{
    margin-bottom: 50px;
  }

  .aboutus-4 h3{
    font-size: medium;
    margin-top: 10px;
  }

  .aboutus-4 a{
    font-size: smaller;
    margin-top: 10px;
  }

  .contact-1 h3{
    font-size: large;
  }

  .contact-1 p{
    font-size: small;
  }

  .contact-5{
    display: grid;
    grid-template-columns: 1fr;
    
  }

  .contact-3 h3{
    font-size: large;
  }

  .contact-5 h4{
    margin-top: 30px;
  }

  .for-name{
    display: flex;
    flex-flow: column;
   
  }
  }

  @media screen and (max-width: 400px) {

    .heroimg{
      height: 300px;
      justify-content: center;
      margin-top: 20px;
      
    }
  
    .main-h1{
      font-size: 30px;
      line-height: 40px;
      
      
  }

  .header img{
    width: 200px;
  }

  
  .for-input button{
    padding: 12px 10px;
  }
  
  .abt-design img{
    height: 150px;
  }

  .aboutus-5 h3{
    font-size: 30px;
  }

  .contact-3 button{
    width: 100px;
  }
  }


